@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

@font-face {
	font-family: 'Tiempos Headline';
	src: url('../TiemposHeadline-Medium.eot');
	src: local('../Tiempos Headline Medium'), local('TiemposHeadline-Medium'),
		url('../TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
		url('../TiemposHeadline-Medium.woff') format('woff'),
		url('../TiemposHeadline-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Text';
	src: url('../TiemposText-Bold.eot');
	src: local('../Tiempos Text Bold'), local('TiemposText-Bold'),
		url('../TiemposText-Bold.eot?#iefix') format('embedded-opentype'),
		url('../TiemposText-Bold.woff') format('woff'),
		url('../TiemposText-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
	width: 100%;
	height: 100%;
	background: #dbd0d0;
}

.header {
	display: flex;
	background: #100FA8;
	padding: 32px 87px;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	max-height: 40px;
	max-width: 124px;
}

/* ********* Меню ********* */
.menu {
	display: flex;
	column-gap: 43px;
}

.menu__link {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.33;
	color: #F4F2FA;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}

.menu__link:hover {
	color: #f4f2fab3;
	transition: color 0.3s;
}

.menu__link_arrow::after {
	content: url(../img/Icon.png);
	display: inline-block;
	transition: all 0.3s;
	margin-left: 7px;
}

.menu__link_arrow:hover::after {
	transform: rotate(180deg);
}

/* ********* Пподменю ********* */
.menu__sub-menu {
	position: absolute;
	overflow: hidden;
	max-height: 0;
	z-index: 0;
	margin-top: 30px;
}

.menu__sub-menu::before {
	content: url(../img/triangle.png);
	position: absolute;
	left: 3px;
	z-index: -1;
	margin-top: -32px;
	padding: 20px 490px 0px 0px;
}

.menu__sub-link-wrapp {
	row-gap: 16px;
	display: grid;
	padding: 24px;
	width: max-content;
	background: #FFFFFF;
	z-index: 1;
	border-radius: 16px;
	box-shadow: 0px 36px 64px rgba(0, 0, 51, 0.2);
	border: 1px solid #CCCCD6;
}

.menu__link:hover .menu__sub-menu {
	/*костыль*/
	max-height: 1200px;
	transition: all 0.6s;
	overflow: inherit;
}

.menu__sub-link {
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	color: #000033;
	display: flex;
	align-items: center;
	padding: 12px 8px;
}

.menu__sub-link:hover {
	background: #F4F2FA;
	border-radius: 8px;
}

.menu__img-link {
	height: 32px;
	width: 32px;
	margin-right: 16px;
}

.button {
	width: 182px;
	height: 56px;
	border: 1px solid #F4F2FA;
	border-radius: 4px;
	font-size: 18px;
	font-weight: 700;
	color: #F4F2FA;
	background: #100FA8;
	cursor: pointer;
	font-family: Montserrat;
}

.button:hover {
	background: #1515d6;
	border: 2px solid #F4F2FA;
	box-shadow: 0px 0px 5px 3px #F4F2FA;
	color: #f4f2fab3;
	transition: color 0.3s
}

/*все что ниже header*/
.main {
	display: flex;
	background: #100FA8;
	padding-left: 144px;
	border: 2px solid rgb(220, 220, 37);

}

/*синий фон*/
.
}

/*синий флекс контейнер*/
.contflex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid rgb(107, 198, 210);
	position: absolute;
	width: 1394px;
	height: 840px;
	left: 144px;

}


/*контактная информация синий фон*/
.continfo {
	display: flex;
	flex-wrap: wrap;
	width: 610px;
	height: 545px;
	border: 2px solid beige;
}

p {
	margin-top: 0px;
	width: 607px;
	height: 252px;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 52px;
	line-height: 63px;
	color: #FFFFFF;
	border: 2px solid rgb(234, 14, 14);


}

.contbutton {
	margin-top: 72px;
	padding: 16px;
	gap: 4px;
	width: 188px;
	height: 56px;
	background: #FFFFFF;
	border-radius: 4px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000033;


}